*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
    color: #fff;
    gap: 1rem;
}

h1 {
  margin-top: 4rem;
}